:host {
    width: 800px;
    height: 500px;
    background: white;
    border: 1px solid #555;
    display: block;
    margin: 5% auto;
    font-size: 14px;
    font-family: Arial;
    padding: 1em;
    box-sizing: border-box;
}

p {
    margin-bottom: 1em;
}